.ff{
    background-color: aqua;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
}

.rt{
    background-color: darkslateblue;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
}

body{
    background-color: khaki;
}